{%  extends 'listings/base.html' %}

{% block content %}

<section class="page-section" id="contact">
<h2 class="text-center font-weight-bold mt-4">CAREERS</h2>
<h3 class="font-weight-bold mt-4">Open Positions</h3>
<h4 class="font-weight-bold mt-4">Front-End Developer</h4>
<h5 class="font-weight-bold mt-4">Description</h5>
<p>We are looking for someone with knowledge of at least one or all of the following:
ReactJS, JavaScript, HTML, CSS.</p>
<h5 class="font-weight-bold mt-4">Location</h5>
<p>New Jersey</p>
<h4 class="font-weight-bold mt-4">Back-End Developer</h4>
<h5 class="font-weight-bold mt-4">Description</h5>
<p>We are looking for someone with knowledge of at least one or all of the following: 
Python, Django, PostgreSQL, AWS RDS, AWS S3 is a plus.</p>
<h5 class="font-weight-bold mt-4">Location</h5>
<p>New Jersey</p>
<div class="text-muted">To apply, send us an email with your resume and portfolio at:</div><a class="lead font-weight-bold" href="mailto:3dfindr@gmail.com">3dfindr@gmail.com</a>
<section class="page-section" id="contact">

	</section>
	<section class="page-section" id="contact">

	</section>
	<section class="page-section" id="contact">

	</section>
</section>
{% endblock %}