{%  extends 'listings/base.html' %}

{% block content %}

<section class="page-section" id="contact">
<h2 class="text-center font-weight-bold mt-4">FAQ</h2>
<p></p>
<h5 class="font-weight-bold mt-4">Who are we?</h5>
<p>3DFIND3R is a platform that allows users interested in 3D printing to connect in order to buy and sell 3D printers, parts, models, and accesories
around their area. This saves time, money, and helps avoid issues such as broken 3D printers and online scams.</p>
<h5 class="font-weight-bold mt-4">Are there any fees?</h5>
<p>At this point, there are no fees associated with using the website. Eventually, a one-time fee might be implemented, but that's still far into the future.</p>
<h5 class="font-weight-bold mt-4">Are there any listing limits?</h5>
<p>No, there are no limits. You can list as many items as you like.</p>
<h5 class="font-weight-bold mt-4">Does 3DFIND3R offer shipping?</h5>
<p>We do not offer shipping. The reason behind this is that by helping users find 3D printers nearby, there is no need for shipping.
  You still have the option to ship your item, but you will have to do that on your own.
  Sites like Ebay and Amazon charge a fee associated 
with shipping, and on top of that they take a percentage of your sale. We believe in users handling shipping themselves, so that they save money and keep a 100% of their sales.</p>
<h5 class="font-weight-bold mt-4">How does 3DFIND3R work?</h5>
<p>3DFIND3R has a very intuitive platform. You sign up with you Google account and start listing items. 
You can search items around your area. If you find an item that you like, you can view all details for that item. This is where you can find the seller's contact information. If interested in any particular item, you contact the seller and arrange the transaction to close the deal.</p>

<section class="page-section" id="contact">

	</section>
	<section class="page-section" id="contact">

	</section>
	<section class="page-section" id="contact">

	</section>
</section>
{% endblock %}