{% extends "listings/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Create Account</h1>
{% endblock page_header %}
{% block content %}
<form method="post" action="{% url 'users:register' %}" class="form">
{% csrf_token %}
{% bootstrap_form form %}

<div class="container text-center">
{% buttons %}
<button name="submit" class="btn btn-dark">Register</button>
{% endbuttons %}
</div>
<input type="hidden" name="next" value="{% url 'listings:index' %}" />
</form>
{% endblock content %}